In [2]:
import pandas as pd
import numpy as np

### series

In [3]:
a= np.arange(5)

In [4]:
pd.Series(a)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [5]:
pd.Series(a,index=[4,6,4,5,9],dtype="float")

4    0.0
6    1.0
4    2.0
5    3.0
9    4.0
dtype: float64

In [6]:
c=pd.Series([2,3,4,5,6])
c

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [7]:
pd.Series([2,3,4,5,6],[-1,-2,-3,-4,-5]) #-1,-2.. are the indexes

-1    2
-2    3
-3    4
-4    5
-5    6
dtype: int64

In [8]:
population_dict = {'california':34900,
                  'texas': 76890,
                  'south dakota': 4560,
                  'alaska':1290,
                  'hawii':67800}

In [9]:
population = pd.Series(population_dict)
population

california      34900
texas           76890
south dakota     4560
alaska           1290
hawii           67800
dtype: int64

In [10]:
population["texas"]

76890

In [11]:
population["texas":"alaska"]

texas           76890
south dakota     4560
alaska           1290
dtype: int64

### data frames

In [12]:
area_dict = {     'california':8679504,
                  'texas': 260544388,
                  'south dakota': 909560,
                  'alaska':98754288,
                  'hawii':75578}

In [13]:
area = pd.Series(area_dict)
area

california        8679504
texas           260544388
south dakota       909560
alaska           98754288
hawii               75578
dtype: int64

In [14]:
type(area)

pandas.core.series.Series

In [15]:
states=pd.DataFrame({'population':population,"area":area})

In [16]:
states

              population       area
california         34900    8679504
texas              76890  260544388
south dakota        4560     909560
alaska              1290   98754288
hawii              67800      75578

In [17]:
states.index

Index(['california', 'texas', 'south dakota', 'alaska', 'hawii'], dtype='object')

In [18]:
states.columns

Index(['population', 'area'], dtype='object')

In [19]:
states["area"]

california        8679504
texas           260544388
south dakota       909560
alaska           98754288
hawii               75578
Name: area, dtype: int64

In [20]:
pd.DataFrame(population,columns=["pop"])

                pop
california    34900
texas         76890
south dakota   4560
alaska         1290
hawii         67800

> statistical functions

In [21]:
states

              population       area
california         34900    8679504
texas              76890  260544388
south dakota        4560     909560
alaska              1290   98754288
hawii              67800      75578

In [22]:
states.count()

population    5
area          5
dtype: int64

In [23]:
states.sum()

population       185440
area          368963318
dtype: int64

In [24]:
states.mean()

population       37088.0
area          73792663.6
dtype: float64

In [25]:
states.median()

population      34900.0
area          8679504.0
dtype: float64

In [26]:
states.std() #standard deviation

population    3.489907e+04
area          1.123445e+08
dtype: float64

In [27]:
states.min()
states.max()

population        76890
area          260544388
dtype: int64

In [28]:
states.describe() # statistical analysis of data

         population          area
count      5.000000  5.000000e+00
mean   37088.000000  7.379266e+07
std    34899.072624  1.123445e+08
min     1290.000000  7.557800e+04
25%     4560.000000  9.095600e+05
50%    34900.000000  8.679504e+06
75%    67800.000000  9.875429e+07
max    76890.000000  2.605444e+08

> saving dataframe

In [29]:
states.to_csv("states.csv")

In [30]:
pwd

'D:\\codes_programming\\py files\\jup_note'

> reading data

In [31]:
data = pd.read_csv("states.csv")
data

     Unnamed: 0  population       area
0    california       34900    8679504
1         texas       76890  260544388
2  south dakota        4560     909560
3        alaska        1290   98754288
4         hawii       67800      75578

In [32]:
#rename column
data=data.rename(columns={"Unnamed: 0":"States"})
data

         States  population       area
0    california       34900    8679504
1         texas       76890  260544388
2  south dakota        4560     909560
3        alaska        1290   98754288
4         hawii       67800      75578

In [33]:
dataset=pd.read_csv("D:\\codes_programming\\py files\\Datasets\\cereal.csv")
dataset

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
5,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
6,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
7,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
8,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
9,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
10,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
11,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
12,Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
13,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
14,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
15,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
16,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
17,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
18,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
19,Crispy Wheat & Raisins,G,C,100,2,1,140,2.0,11.0,10,120,25,3,1.00,0.75,36.176196
20,Double Chex,R,C,100,2,0,190,1.0,18.0,5,80,25,3,1.00,0.75,44.330856
21,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
22,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
23,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
24,Fruit & Fibre Dates Walnuts and Oats,P,C,120,3,2,160,5.0,12.0,10,200,25,3,1.25,0.67,40.917047
25,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
26,Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.00,0.75,28.025765
27,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
28,Golden Grahams,G,C,110,1,1,280,0.0,15.0,9,45,25,2,1.00,0.75,23.804043
29,Grape Nuts Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897
30,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007
31,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
32,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.00,1.00,21.871292
33,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.00,0.75,31.072217
34,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.00,1.33,28.742414

In [35]:
dataset=pd.read_excel("D:\\codes_programming\\py files\\Datasets\\cereal.xlsx")
dataset

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
5,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
6,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
7,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
8,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
9,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
10,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
11,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
12,Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
13,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
14,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
15,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
16,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
17,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
18,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
19,Crispy Wheat & Raisins,G,C,100,2,1,140,2.0,11.0,10,120,25,3,1.00,0.75,36.176196
20,Double Chex,R,C,100,2,0,190,1.0,18.0,5,80,25,3,1.00,0.75,44.330856
21,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
22,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
23,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
24,Fruit & Fibre Dates Walnuts and Oats,P,C,120,3,2,160,5.0,12.0,10,200,25,3,1.25,0.67,40.917047
25,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
26,Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.00,0.75,28.025765
27,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
28,Golden Grahams,G,C,110,1,1,280,0.0,15.0,9,45,25,2,1.00,0.75,23.804043
29,Grape Nuts Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897
30,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007
31,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
32,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.00,1.00,21.871292
33,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.00,0.75,31.072217
34,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.00,1.33,28.742414

In [36]:
dataset.head() #first 5 rows by default

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

In [37]:
dataset.head(6)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
5,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094

In [38]:
dataset.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
30,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.0,0.25,53.371007
31,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.0,0.33,45.811716
32,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
33,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.0,0.75,31.072217
34,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414

In [39]:
dataset.tail(2)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
33,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.0,0.75,31.072217
34,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.0,1.33,28.742414

In [40]:
dataset.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,105.428571,2.371429,1.028571,172.000000,2.514286,13.514286,7.771429,97.114286,23.571429,2.171429,1.026000,0.787429,41.375049
std,15.967404,1.139807,1.200140,74.697429,3.107121,4.019229,4.173345,84.359096,5.887603,0.821967,0.086881,0.250204,15.634274
min,50.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000,-1.000000,0.000000,1.000000,1.000000,0.250000,18.042851
25%,100.000000,1.500000,0.000000,132.500000,1.000000,11.000000,5.000000,35.000000,25.000000,1.500000,1.000000,0.670000,31.254095
50%,110.000000,2.000000,1.000000,180.000000,1.500000,13.000000,8.000000,80.000000,25.000000,2.000000,1.000000,0.750000,40.448772
75%,110.000000,3.000000,2.000000,220.000000,3.000000,15.000000,11.000000,122.500000,25.000000,3.000000,1.000000,1.000000,49.942626
max,130.000000,6.000000,5.000000,290.000000,14.000000,22.000000,15.000000,330.000000,25.000000,3.000000,1.330000,1.330000,93.704912

In [41]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      35 non-null     object
 1   mfr       35 non-null     object
 2   type      35 non-null     object
 3   calories  35 non-null     int64
 4   protein   35 non-null     int64
 5   fat       35 non-null     int64
 6   sodium    35 non-null     int64
 7   fiber     35 non-null     float64
 8   carbo     35 non-null     float64
 9   sugars    35 non-null     int64
 10  potass    35 non-null     int64
 11  vitamins  35 non-null     int64
 12  shelf     35 non-null     int64
 13  weight    35 non-null     float64
 14  cups      35 non-null     float64
 15  rating    35 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 4.5+ KB

### indexers
> loc and iloc

In [42]:
data = pd.Series(['a','b','c'],index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [47]:
data[1:3] #these are normal indexes

3    b
5    c
dtype: object

In [48]:
data.iloc[1:3] #indexing is 0,1,2,3

3    b
5    c
dtype: object

In [51]:
data.loc[1:3] #indexing is whatever is given in Series

1    a
3    b
dtype: object

In [52]:
states

              population       area
california         34900    8679504
texas              76890  260544388
south dakota        4560     909560
alaska              1290   98754288
hawii              67800      75578

In [53]:
states.T #transpose

            california      texas  south dakota    alaska  hawii
population       34900      76890          4560      1290  67800
area           8679504  260544388        909560  98754288  75578

In [55]:
states["population"]["texas"]

76890

### handling missing data

In [56]:
import numpy as np
var1=np.array([1,3,None,4])
var1

array([1, 3, None, 4], dtype=object)

In [58]:
var1.sum() # gives error

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [60]:
var2 = np.array([1,2,np.nan,3,4])
var2

array([ 1.,  2., nan,  3.,  4.])

In [61]:
var2.sum()

nan

In [62]:
1+np.nan

nan

In [63]:
4/np.nan

nan

In [64]:
var2.max()

nan

In [66]:
x = pd.Series([1,np.nan,None])
x

0    1.0
1    NaN
2    NaN
dtype: float64

In [68]:
x.isnull()

0    False
1     True
2     True
dtype: bool

In [69]:
x.isnull().any()

True

In [74]:
x.notnull()

0     True
1    False
2    False
dtype: bool

In [73]:
x.isnull().sum() # count() cannot be used here because isnull changes dataset to bool values and 'count' counts them instead of nan and not nan

2

In [76]:
x.count() # returns non nan values count

1

In [77]:
x.notnull()

0     True
1    False
2    False
dtype: bool

In [79]:
x.notnull().sum() # again here count cannot be used

1

In [80]:
x.dropna()

0    1.0
dtype: float64

In [82]:
x

0    1.0
1    NaN
2    NaN
dtype: float64

In [84]:
x.fillna(0)

0    1.0
1    0.0
2    0.0
dtype: float64

In [85]:
x=pd.Series([1,2,4,np.nan,6,np.nan])
x

0    1.0
1    2.0
2    4.0
3    NaN
4    6.0
5    NaN
dtype: float64

In [87]:
x.fillna(method='ffill') #ffil is forward fill

0    1.0
1    2.0
2    4.0
3    4.0
4    6.0
5    6.0
dtype: float64

In [88]:
x.fillna(method='bfill')

0    1.0
1    2.0
2    4.0
3    6.0
4    6.0
5    NaN
dtype: float64

In [93]:
ser1 = pd.Series(['A','B','C'] ,index=[1,2,3])
ser2 = pd.Series(['D','E','F'] ,index=[2,5,6])

In [94]:
pd.concat([ser1,ser2])

1    A
2    B
3    C
2    D
5    E
6    F
dtype: object

In [104]:
df=pd.DataFrame({'a':[1,2,np.nan,4,5,6,7,3,2],'b':[1,2,3,3,3,4,5,2,3],'c':[2,np.nan,8,3,4,5,6,7,4],'d':[3,4,np.nan,4,5,6,7,8,9]})

In [105]:
df

     a  b    c    d
0  1.0  1  2.0  3.0
1  2.0  2  NaN  4.0
2  NaN  3  8.0  NaN
3  4.0  3  3.0  4.0
4  5.0  3  4.0  5.0
5  6.0  4  5.0  6.0
6  7.0  5  6.0  7.0
7  3.0  2  7.0  8.0
8  2.0  3  4.0  9.0

In [106]:
df['a'].fillna(df['a'].mean(),inplace=True) #inplace will just make changes to original datastructure

In [107]:
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  NaN  4.0
2  3.75  3  8.0  NaN
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  7.0
7  3.00  2  7.0  8.0
8  2.00  3  4.0  9.0

In [108]:
df['c'].fillna(df['c'].median(),inplace=True)
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  4.5  4.0
2  3.75  3  8.0  NaN
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  7.0
7  3.00  2  7.0  8.0
8  2.00  3  4.0  9.0

In [110]:
df['d'].fillna(df['d'].mode()[0],inplace=True)
df

      a  b    c    d
0  1.00  1  2.0  3.0
1  2.00  2  4.5  4.0
2  3.75  3  8.0  4.0
3  4.00  3  3.0  4.0
4  5.00  3  4.0  5.0
5  6.00  4  5.0  6.0
6  7.00  5  6.0  7.0
7  3.00  2  7.0  8.0
8  2.00  3  4.0  9.0