In [3]:
import pandas as pd
import numpy as np

### series

In [4]:
a= np.arange(5)

In [5]:
pd.Series(a)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [6]:
pd.Series(a,index=[4,6,4,5,9],dtype="float")

4    0.0
6    1.0
4    2.0
5    3.0
9    4.0
dtype: float64

In [18]:
c=pd.Series([2,3,4,5,6])
c

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [11]:
pd.Series([2,3,4,5,6],[-1,-2,-3,-4,-5]) #-1,-2.. are the indexes

-1    2
-2    3
-3    4
-4    5
-5    6
dtype: int64

In [13]:
population_dict = {'california':34900,
                  'texas': 76890,
                  'south dakota': 4560,
                  'alaska':1290,
                  'hawii':67800}

In [15]:
population = pd.Series(population_dict)
population

california      34900
texas           76890
south dakota     4560
alaska           1290
hawii           67800
dtype: int64

In [20]:
population["texas"]

76890

In [21]:
population["texas":"alaska"]

texas           76890
south dakota     4560
alaska           1290
dtype: int64

### data frames

In [22]:
area_dict = {     'california':8679504,
                  'texas': 260544388,
                  'south dakota': 909560,
                  'alaska':98754288,
                  'hawii':75578}

In [23]:
area = pd.Series(area_dict)
area

california        8679504
texas           260544388
south dakota       909560
alaska           98754288
hawii               75578
dtype: int64

In [24]:
type(area)

pandas.core.series.Series

In [25]:
states=pd.DataFrame({'population':population,"area":area})

In [26]:
states

              population       area
california         34900    8679504
texas              76890  260544388
south dakota        4560     909560
alaska              1290   98754288
hawii              67800      75578

In [27]:
states.index

Index(['california', 'texas', 'south dakota', 'alaska', 'hawii'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

In [29]:
states["area"]

california        8679504
texas           260544388
south dakota       909560
alaska           98754288
hawii               75578
Name: area, dtype: int64

In [30]:
pd.DataFrame(population,columns=["pop"])

                pop
california    34900
texas         76890
south dakota   4560
alaska         1290
hawii         67800

> statistical functions

In [31]:
states

              population       area
california         34900    8679504
texas              76890  260544388
south dakota        4560     909560
alaska              1290   98754288
hawii              67800      75578

In [32]:
states.count()

population    5
area          5
dtype: int64

In [33]:
states.sum()

population       185440
area          368963318
dtype: int64

In [34]:
states.mean()

population       37088.0
area          73792663.6
dtype: float64

In [35]:
states.median()

population      34900.0
area          8679504.0
dtype: float64

In [37]:
states.std() #standard deviation

population    3.489907e+04
area          1.123445e+08
dtype: float64

In [39]:
states.min()
states.max()

population        76890
area          260544388
dtype: int64

In [41]:
states.describe() # statistical analysis of data

         population          area
count      5.000000  5.000000e+00
mean   37088.000000  7.379266e+07
std    34899.072624  1.123445e+08
min     1290.000000  7.557800e+04
25%     4560.000000  9.095600e+05
50%    34900.000000  8.679504e+06
75%    67800.000000  9.875429e+07
max    76890.000000  2.605444e+08

> saving dataframe

In [42]:
states.to_csv("states.csv")

In [43]:
pwd

'D:\\codes_programming\\py files\\jup_note'

> reading data

In [44]:
data = pd.read_csv("states.csv")
data

     Unnamed: 0  population       area
0    california       34900    8679504
1         texas       76890  260544388
2  south dakota        4560     909560
3        alaska        1290   98754288
4         hawii       67800      75578

In [49]:
#rename column
data=data.rename(columns={"Unnamed: 0":"States"})
data

         States  population       area
0    california       34900    8679504
1         texas       76890  260544388
2  south dakota        4560     909560
3        alaska        1290   98754288
4         hawii       67800      75578

In [75]:
dataset=pd.read_csv("D:\\codes_programming\\py files\\Datasets\\cereal.csv")
dataset

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
5,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
6,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
7,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
8,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
9,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
10,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
11,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
12,Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
13,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
14,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
15,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
16,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
17,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
18,Crispix,K,C,110,2,0,220,1.0,21.0,3,30,25,3,1.00,1.00,46.895644
19,Crispy Wheat & Raisins,G,C,100,2,1,140,2.0,11.0,10,120,25,3,1.00,0.75,36.176196
20,Double Chex,R,C,100,2,0,190,1.0,18.0,5,80,25,3,1.00,0.75,44.330856
21,Froot Loops,K,C,110,2,1,125,1.0,11.0,13,30,25,2,1.00,1.00,32.207582
22,Frosted Flakes,K,C,110,1,0,200,1.0,14.0,11,25,25,1,1.00,0.75,31.435973
23,Frosted Mini-Wheats,K,C,100,3,0,0,3.0,14.0,7,100,25,2,1.00,0.80,58.345141
24,Fruit & Fibre Dates Walnuts and Oats,P,C,120,3,2,160,5.0,12.0,10,200,25,3,1.25,0.67,40.917047
25,Fruitful Bran,K,C,120,3,0,240,5.0,14.0,12,190,25,3,1.33,0.67,41.015492
26,Fruity Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.00,0.75,28.025765
27,Golden Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444
28,Golden Grahams,G,C,110,1,1,280,0.0,15.0,9,45,25,2,1.00,0.75,23.804043
29,Grape Nuts Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897
30,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007
31,Great Grains Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716
32,Honey Graham Ohs,Q,C,120,1,2,220,1.0,12.0,11,45,25,2,1.00,1.00,21.871292
33,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.00,0.75,31.072217
34,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.00,1.33,28.742414

In [76]:
dataset=pd.read_excel("D:\\codes_programming\\py files\\Datasets\\cereal.xlsx")
dataset

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.